.calculator-container {
    background: black;
    padding: 5px;
    border-radius: 5%;
}

.keyboard-container {
    display: grid;
    grid-template-columns: repeat(4, 60px);
}

header {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: xxx-large;
    width: 220px;
    height: 50px;
    background: black;
    color: white;
    border: none;
}
